.task-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

body{
    margin: 0;
    padding: 0 0 0 2.5%;
    font-family: "Courier New", monospace;
    font: 1em "Courier New", monospace;
    background-color: #292824;
    color: #917916;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.pHeader{
    margin: 0;
}

#topHeader{
    margin: 10px;
    padding: 0;
    font-weight: bold;
    font-family: "Courier New", monospace;
    font: 1.25em "Courier New", monospace;
    color: #917916;
    text-align: left;
}

.task-widget
{
    margin: 5px;
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #21211e;
    // color the text 
    -webkit-text-fill-color: white;
}

.widgetName
{
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Courier New", monospace;
    font: 1.5em "Courier New", monospace;
    color: #917916;

}

.widgetTime{
    font-family: "Courier New", monospace;
    font: 1em "Courier New", monospace;

    color: #917916;          
}

#task-name
{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #403e39;
    color: #917916;
    font-family: "Courier New", monospace;
    font: 1em "Courier New", monospace;
}

.task-form{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #403e39;
    font-family: "Courier New", monospace;
    font: 1em "Courier New", monospace;
}

button{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #403e39;
    color: #917916;
    cursor: pointer;
    font-family: "Courier New", monospace;
    font: 1em "Courier New", monospace;

}

button:hover{
    background-color: #a5ba0f;
    color: #292824;
}

input{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #403e39;
    color: #917916;
}

#task-name:hover{
    background-color: #a5ba0f;
    color: #292824;
}

#task-name:focus{
    background-color: #a5ba0f;
    color: #292824;
}

#task-name:active{
    background-color: #a5ba0f;
    color: #292824;
}
input:active{
    background-color: #a5ba0f;
    color: #292824;
}

input:focus{
    background-color: #a5ba0f;
    color: #292824;
}

#notes{
    margin: 5px;
    padding: 20px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #403e39;
    color: #917916;    
}
